:root{
    --text1: white;
    --text2: rgb(165, 165, 165);
    --texterr: rgb(255, 60, 60);
    --bg1: rgb(14, 0, 41);
}

body{
    margin: 0;
    width: 100%;
    padding: 0 20px;
    min-height: 100vh;
    background-color: var(--bg1);
    box-sizing: border-box;
}

body > section{
    text-align: center;
    color: var(--text1);
    overflow-y: auto;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

body > nav{
    height: 60px;
    padding: 5px 30px;
    display: flex;
    border-bottom: 2px solid white;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow-y: auto;
}

nav h3{
    margin: 10px;
    font-size: 1.6em;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px 0;
}
body > div{
    color: white;
    display: flex;
    justify-content: space-around;
}

body > div p{
    font-size: 1.25em;
}

section h1{
    font-size: 4em;
    margin: 20px 0;
}

section h1 b{
    color: var(--text2)
}

main{
    max-width: 700px;
    margin: 30px auto;
    padding: 30px 40px;
    font-family: Times, 'Times New Roman', serif;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
}

main h3{
    text-decoration: underline;
    margin: 0 5px 20px 0;
    text-align: center;
}

.op{
    display: flex;
    justify-content: space-between;
}

.op p{
    font-size: 1.2em;
    margin: 0 0 20px 0;
    display: inline-block;
    width: 80px;
}

.op p.active{
    border-bottom: 2px solid var(--bg1);
}

.acc span{
    color: rgb(255, 215, 84);
}

.op:hover{
    cursor: pointer;
}

.info{
    display: flex;
}

.info section{
    width: 50%;
}

.info section div{
    margin-bottom: 25px;
}

form{
    display: none;
}

form.active{
    display: block;
}

form label{
    display: block;
    font-weight: 600;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: var(--bg1);
}

form input{
    outline: none;
    border: 1px solid var(--bg1);
    border-radius: 5px;
    height: 40px;
    width: 90%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 1.03em;
}

form .error{
    color: var(--texterr);
}

.hidden{
    display: none;
}

form button{
    display: block;
    max-width: 400px;
    width: 60%;
    margin: 0 auto;
    height: 40px;
    font-size: 1.05em;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--bg1);
    color: var(--text1);
    border: none;
    border-radius: 9px;
}

form button:hover{
    opacity: 0.9;
    cursor: pointer;
}

form button:active {
    opacity: 1;
}

@media screen and (width < 500px){
    body{
        padding: 0;
    }

    body > div{
        margin: 10px;
    }

    body > nav{
        padding: 0;
        justify-content: space-between;
    }

    nav a{
        margin: auto 20px;
    }

    main{
        margin: 10px;
        padding: 30px 15px;
    }

    .info {
        flex-direction: column;
    }

    .info section{
        width: 100%;
    }

    form button{
        width: 100%;
    }

    p.name span{
        display: block;
    }
}
